.create_comment_container {
  display: flex;
  justify-content: space-between;
}

.createComment_textarea {
  resize: none;
  border: none;
  outline: none;
  margin-top: 1rem;
  width: 100%;
  font-size: 0.9rem;
}

/* mobile */
@media only screen and (max-device-width: 375px) {
  .createComment_textarea {
    resize: none;
    border: none;
    outline: none;
    margin-top: 1rem;
    width: 100%;
    font-size: 0.7rem;
  }
}
