.createPost_main_container {
  width: 50%;
  max-width: 65rem;
  background: #fff;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.6rem;
}

.create_post p {
  padding: 1rem 0;
}

.createPost_textarea {
  resize: none;
  border: none;
  outline: none;
  margin-top: 1rem;
  width: 100%;
  font-size: 0.9rem;
}

.createPost_image_uploader_input {
  display: none;
}

.createPost_image_uploader_container {
  display: flex;
  justify-content: space-between;
}

.image_preview {
  display: none;
  height: 8rem;
  width: 10rem;
  border-radius: 0.3rem;
  margin: 1rem 0;
}

/* laptop */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .createPost_main_container h4 {
    font-size: 0.9rem;
  }

  .createPost_textarea {
    resize: none;
    border: none;
    outline: none;
    margin-top: 1rem;
    width: 100%;
    font-size: 0.8rem;
  }
}

/* mobile */

@media only screen and (max-device-width: 1024px) {
  .createPost_main_container {
    width: 70%;
  }
}

@media only screen and (max-device-width: 768px) {
  .createPost_main_container {
    width: 70%;
  }
}

@media only screen and (max-device-width: 414px) {
  .createPost_main_container {
    width: 88%;
  }

  .createPost_main_container h4 {
    font-size: 0.8rem;
  }

  .createPost_textarea::placeholder {
    font-size: 0.7rem;
  }
}

@media only screen and (max-device-width: 360px) {
  .createPost_main_container {
    width: 85%;
  }

  .createPost_main_container h4 {
    font-size: 0.85rem;
  }

  .createPost_textarea::placeholder {
    font-size: 0.7rem;
  }
}

@media only screen and (max-device-width: 320px) {
  .createPost_main_container {
    width: 85%;
  }

  .createPost_main_container h4 {
    font-size: 0.7rem;
  }

  .createPost_textarea::placeholder {
    font-size: 0.6rem;
  }

  .image_preview {
    height: 6rem;
    width: 8rem;
  }
}
